extends layout.pug
block number1 
    div.centred
        if error 
            p.error Please enter some data
        if success
            p.success Well done!

        if deleted 
            p.deleted task deleted    

        
    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Tell me what to add...' name= 'todo')
        button.btn Add

    div.todos
        if todos.length 
            each todo in todos  
                p.todo
                    if todo.done 
                        a.done(href=`/${ todo.id}/update`) #{ todo.description }
                    else 
                        a.undone(href=`/${ todo.id}/update`) #{ todo.description }    
                    a.delete(href=`/${ todo.id }/delete`) Delete 
        else 
            p.todo Empty list of tasks        
            